* {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: ​0​px​;
    box-sizing: ​border-box​;
}
body {
    background-color: #ebebeb;
}
body header {
    background-color: #EAC926;
    padding: 20px;
}
body header ul {
    padding-left: 0px;
    display: none;
}
body header ul a {
    text-decoration: none;
    color: #03264C;
}
#banner {
    width: 100%;
    
}
body main {
    width: 90vw;
    margin: auto;
    padding-top: 10px;
}
main section h1 {
    font-size: 24px;
    text-align: center;
    color: #666;
}
main section article {
    margin: 10px 0px;
}
main section article p, main section article h4 {
    font-size: 16px;
    margin: 5px 0px;
}
footer {
    background-color: white;
    padding-top: 20px;
}
footer article {
    margin: auto;
    width: 85%; 
    text-align: center;
}
footer article h4 {
    margin-bottom: 0px;
}
footer article p {
    margin-top: 0px;
}
footer article div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer article div i {
    color: #1259c3;
    font-size: 40px;   
}
footer p {
    margin-top: 10px;
}
#header-logo {
    width: 50%;
    margin-left: 5%;
    margin-bottom: 1em;
}
#titulo {
    text-align: center;
    padding-top: 5%;
    font-size: 12px;
}
#search-bar {
       width: 15em;
       padding: 5px;
}
#icon-search {
    background-color: #ebebeb;
    border: solid #03264C 1px;
    padding: 3px;
    margin-left: 5px;
}
.main-bar {
    display: inline-flex;
    margin-left: 5%;
}
#format-bars {
    background-color: #1259c3;
    color: white;
    padding: 15px;
    font-size: x-large;
    border-radius: 8px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.box-article {
    border: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
    display: block;
    position: relative; 
}
.delivery-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: -30px;
    background-color: white;
    border-radius: 50%;
}
.icon-truck {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    color: #39b54a;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.price {
    font-size: 16px;
}
.discount {
    color: #39b54a;
    font-size: 16px;
}
.description {
    font-size: 16px;
    color: #666;
    margin-top: 15px;
    display: none;
}
@media (max-width: 360px){
    #center-bars {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-top: 15px;
    }
}
@media (min-width: 361px){
    body header ul {
        padding: 20px;
        display: block;
    }
    #center-bars {
        display: none;
    }
    .description {
        display: block;
    }
    main section article {
        margin: 10px 0px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
@media (min-width: 769px){
    body header ul {
        padding: 20px;
        display: block;
    }
    #center-bars {
        display: none;
    }
    .description {
        display: block;
    }
    main section article {
        margin: 10px 0px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}